<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet">


			<style>
		body {
			font-family: Arial;
			font-size: 20px
		
}

* {
  box-sizing: border-box;
}

	
  .col-50 {
    -ms-flex: 50%; 
    flex: 50%;
  }

 
  .col-75 {
    -ms-flex: 75%;
    flex: 75%;
  }
  
  
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}


.button {
  background-color: #0988db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn {
  background-color: #0988db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*css for the display items page*/
		.table{
			padding-left: 150px;
			padding-right: 150px;
}

</style>
</head>
<html>